
<h1><img src="https://emojis.slackmojis.com/emojis/images/1531849430/4246/blob-sunglasses.gif?1531849430" width="30"/> Hello! My name is {{name}} .</h1>
<p>I am a B.Tech CSE Student from VIT vellore, India. <br> The weather in Vellore as of {{date}} is:<br><b>{{city_temperature}}<b> Kelvin, <i><b> {{city_weather}} <b></i><p>